$transition: 0.5s ease-in;
$bg-light: rgba(174, 181, 185, 0.5);
$bg-dark: rgba(99, 103, 107, 0.5);
$text: #fff;
$font: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $font;
  color: $text;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 80px;
}

.btn {
  height: 44px;
  border: none;
  outline: none;
  transition: $transition;
  font-family: $font;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $text;
  background: $bg-dark;
  &:hover {
    cursor: pointer;
    background: $bg-light;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .header__left-block {
    display: flex;
    gap: 10px;
    align-items: center;

    .header__refresh-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: 44px;
    }

    .header__select {
      border-radius: 5px;
    }

    .header__radio {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      height: 44px;
      input {
        display: none;
      }
      label {
        padding: 13px 15px;
      }
      input:checked + label {
        background: rgba(18, 19, 19, 0.5);
      }
    }
  }

  .header__right-block {
    display: flex;
    align-items: center;
    position: relative;
    .header__search {
      input {
        height: 44px;
        background: rgba(18, 19, 19, 0.5);
        border: 2px solid $bg-dark;
        border-radius: 5px 0 0 5px;
        outline: none;
        font-family: $font;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        padding: 0 35px 0 10px;
        &::placeholder {
          font-family: $font;
          font-weight: 400;
          font-size: 14px;
          color: #fff;
        }
      }
    }
    .header__microphone {
      position: absolute;
      right: 115px;
      top: 15px;
      cursor: pointer;
    }
    .header__search-btn {
      border-radius: 0 5px 5px 0;
      padding: 0 20px;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .info {
    .info__location {
      font-weight: 700;
      font-size: 44px;
      text-transform: uppercase;
      margin-bottom: 4px;
    }
    .info__block {
      display: flex;
      gap: 18px;
      .info__date,
      .info__time {
        font-weight: 600;
        font-size: 24px;
      }
    }
    .weather {
      position: relative;
      display: flex;
      align-items: center;
      gap: 92px;
      .weather__icon {
        position: absolute;
        top: 0;
        left: 300px;
      }

      .weateher__degree {
        font-weight: 700;
        font-size: 306px;
        text-transform: uppercase;
        position: relative;
        .weateher-degree__span {
          font-size: 100px;
          position: absolute;
          top: 50px;
        }
      }

      .weather__description {
        font-weight: 700;
        font-size: 22px;
        line-height: 168%;
        text-transform: uppercase;
      }
    }

    .coming-weather {
      display: flex;
      gap: 50px;
      .coming-weather__item {
        .coming-weather__day {
          font-weight: 700;
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        .coming-weather__block {
          display: flex;
          gap: 10px;
          align-items: center;
          .coming-weather__degree {
            font-weight: 600;
            font-size: 80px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .map {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .map__field {
      height: 500px;
      width: 500px;
      clip-path: polygon(
        7% 0,
        93% 0,
        100% 7%,
        100% 100%,
        93% 88%,
        7% 88%,
        0% 80%,
        0 7%
      );
    }
    .map__latitude,
    .map__longitude {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
    }
  }
}
